* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-box-1 {
  width: 100%;
  height: 46px;
  background-color: #1abc9c;
  color: #fff;
  line-height: 46px;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 100;
  font-weight: 200;
  font-size: 16px;
}

.nav-box-2 {
  display: flex;
  width: 100%;
  height: 46px;
  background-color: #1abc9c;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  font-weight: 200;
  font-size: 16px;
}

.nav-box-2 div:nth-child(1) {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-box-2 a {
  border: 1px solid #fff;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.nav-box-2 div:nth-child(2) {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.chat-box {
  margin-bottom: 60px;
  margin-top: 60px;
}

.message-left,
.message-right {
  background-color: skyblue;
  border-bottom-color: skyblue;
  /*为了给after伪元素自动继承*/
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  word-break: break-all;
}
.message-left{
  background-color: #2ecc71;
}
/** 通过对小正方形旋转45度解决 **/
.message-left::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -4px;
  width: 10px;
  height: 10px;
  margin-top: -10px;
  background: inherit;
  /*自动继承父元素的背景*/
  transform: rotate(45deg);
}

.message-right::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -4px;
  width: 10px;
  height: 10px;
  margin-top: -10px;
  background: inherit;
  /*自动继承父元素的背景*/
  transform: rotate(45deg);
}

.chatListLeft li {
  display: flex;
  margin: 10px;
}

.chatListLeft li img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 5px;
}

.chatListLeft li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatListRight li {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.chatListRight li img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 5px;
}

.chatListRight li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seed-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f6f6f6;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.seed-box input {
  flex: 0 0 70%;
  width: 100%;
  height: 30px;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.seed-box button {
  padding: 5px 10px;
  background-color: #1abc9c;
  border: none;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}